body {
  background-color: hsl(30, 38%, 92%);
//  font-family: 'Fraunces', sans-serif;
  font-family: 'Montserrat';
}

@media screen and (max-width: 768px) {
  
$primary-color: hsl(158, 42%, 18%);
$second-color: hsl(158, 36%, 37%);


}